@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,800&display=swap');


$color-white: #fafafa;
$color-textgrey: #898989c2;
$color-textdarkblue:#324049; 
$color-button: #6787a0;
$color-darktext: #313131;






.grid_produkter{

    min-height: 1200px;
    display: grid;
    margin: 0px 20% 0px 20%;
    background-color: $color-white;
    grid-gap: 15px;
    grid-template-columns: .22fr 1fr ;
    grid-template-rows: .2fr 3fr  ;
    grid-template-areas: 
    "produkter_head produkter_head"
    "kategorier produkter";


    .produkter_head{
      grid-area: produkter_head;
      

      h2{
        font-size: 40px;
        margin-top: 70px;
        font-family: 'Lobster', cursive;
        color: $color-textdarkblue ;
        
    }
    p{
        width: 80%;
        margin: 20px auto 10px auto;
        color: $color-textgrey ;
        margin-bottom: 100px;
        
    }

    }

 .produkter{
  grid-area: produkter;
  

  .bred{
      
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)) ;
    grid-gap: 10px;

    .produkt_box{
        margin-bottom: 50px;

        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            
        }
    
        h2{
            margin-top: 20px;
         font-size: 19px;
         font-family: 'Open Sans', sans-serif;
         font-weight: 550;
         color: $color-darktext;
        }
        p{
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 10px;
            line-height: 2;
            color: $color-textgrey ;
        }

        .produkt_link{
          border: $color-textdarkblue 1px solid;
          border-radius: 2px;
          font-size: 10px;
          font-weight: 1200px;
          padding: 5px 40px 5px 40px;
          text-decoration: none;
          color: $color-darktext;
        }
    
    }

  }

 }

 .produkte_kategorier{
 grid-area: kategorier ;


 .kategorier_container{
     display: flex;
     flex-direction: column;
     
     button{
         font-size: 20px;
         font-weight: 500;
         font-family:sans-serif ;
         padding: 0px 0px 0px 0px;
         background-color: rgba(255, 255, 255, 0);
         border: none;
         margin-bottom: 15px;
         color: $color-textgrey ;
         cursor: pointer;
     }

     button:focus {outline:0;}


 }

 }

}



.produkt_titel{

    min-height: 1100px;
    display: grid;
    margin: 0px 20% 0px 20%;
    background-color: $color-white;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px .2fr 2fr  ;
    grid-template-areas: 
    "one one"
    "produktittel produktittel"
    "produkt_info produkt_info";

    .produkt_top_info{
        height:35px ;
        grid-area: one;
        margin-top: 70px;
        display: flex;
        font-size: 12px;
        background-color: white;
        padding: 10px;

        .light_text{
            color: rgb(172, 172, 172);
        }

    }


    .produkt_head{
        margin-top: 30px;
        grid-area:produktittel;
       
        height: 70px;
        display: grid;
        grid-template-columns: 4fr 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas: 
        "head_p button";


        .produkt_top_head{
            grid-area: head_p;
            color: $color-textdarkblue;
            text-align: start;
            text-transform: uppercase;
            font-size: 15px;

            p{
                color: $color-textgrey;
                font-weight: 900;
            }
            
        }

        .button_container{
            grid-area: button;
            

            button{
                justify-content: center;
                display: flex;
                border-radius: 2px;
                width: 180px;
                margin-top: 9px;
                padding: 10px;
                float: right;
                font-weight: 600;
                font-size: 15px;
                letter-spacing: 0.1em;
                border: $color-textdarkblue solid 1px;
                background-color: rgba(255, 0, 0, 0);
                font-family: 'Open Sans', sans-serif;
                cursor: pointer;
                transition: 1s;

                p{
                    
                    padding-left: 8px;
                    margin-top: 2px;
                }

            }

            button:hover{
             transition: 1s;
             background-color:$color-button;
             color: $color-white;
             p{
                
                 color: red;
             }

            }
            
        }


    }


    .produkt_info{
        grid-area: produkt_info;
        min-height: 700px;
        display: grid;
        margin: 0px 0% 0px 0%;
        background-color: $color-white;
        grid-gap: 12px;
        grid-template-columns: 1fr 1fr .8fr ;
        grid-template-rows: 1fr  1fr ;
        grid-template-areas: 
        " grid_bred_info grid_bred_info ingredienser "
        "grid_bred_info grid_bred_info  ingredienser";

        .grid_bred_info{
            grid-area:grid_bred_info ;
            

            div{
                
                img{
                    float: left;
                    width: 300px;
                    height: 300px;
                    object-fit: cover;
                    padding: 0px 15px 5px 0px;
                }

                p{
                    color: $color-textgrey;
                    text-align: start;
                    margin-bottom: 30px;
                }
            }

        }

        .grid_bred_mereinfo{
            grid-area:grid_bred_mereinfo ;
            background-color: orange;
        }

        .grid_bred_instrukser{
            grid-area:grid_bred_instrukser ;
            background-color: orchid;
        }

        .grid_bred_ingredienser{
            grid-area:ingredienser ;
            


            .ingrediens{

                li{
                    padding: 15px 0px 0px 0px;
                    min-height: 50px;
                    font-size: 14px;
                    margin-bottom: 20px;
                    color: $color-textgrey;
                    background-color: white;
                    border: 1px solid $color-textgrey;
                }
            }

            p{
                font-size: 20px;
                margin-bottom: 20px;
                text-align: start;
                font-weight: 800;
             
            }


        }

    }


}


@media only screen and (max-width: 1200px) {


    .produkt_titel{

        min-height: 1200px;
        display: grid;
        margin: 0px 20% 0px 20%;
        background-color: $color-white;
        grid-gap: 15px;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 100px .1fr 1fr  ;
        grid-template-areas: 
        "one one"
        "produktittel produktittel"
        "produkt_info produkt_info";
    
        .produkt_top_info{
            
            grid-area: one;
            margin-top: 70px;
            display: flex;
            font-size: 12px;
            background-color: white;
            padding: 10px;
    
            .light_text{
                color: rgb(172, 172, 172);
            }
    
        }
    
    
        .produkt_head{
            margin-top: 30px;
            grid-area:produktittel;
           
            height: 70px;
            display: grid;
            grid-template-columns: 1fr  ;
            grid-template-rows: 1fr;
            grid-template-areas: 
            "head_p button";
    
    
            .produkt_top_head{
                grid-area: head_p;
                color: $color-textdarkblue;
                text-align: start;
                text-transform: uppercase;
                font-size: 15px;
    
                p{
                    color: $color-textgrey;
                    font-weight: 900;
                }
                
            }
    
            .button_container{
                grid-area: button;
                
    
                button{
                    border-radius: 2px;
                    width: 180px;
                    margin-top: 9px;
                    padding: 10px;
                    float: right;
                    font-weight: 600;
                    font-size: 15px;
                    letter-spacing: 0.1em;
                    border: $color-textdarkblue solid 1px;
                    background-color: rgba(255, 0, 0, 0);
                    font-family: 'Open Sans', sans-serif;
                    cursor: pointer;
                }
                
            }
    
    
        }
    
    
        .produkt_info{
            grid-area: produkt_info;
            min-height: 200px;
            display: grid;
            margin: 0px 0% 0px 0%;
            background-color: $color-white;
            grid-gap: 12px;
            grid-template-columns: 1fr 1fr  ;
            grid-template-rows: .2fr  1fr  ;
            grid-template-areas: 
            " ingredienser ingredienser ingredienser "
            "grid_bred_info grid_bred_info  grid_bred_info";
    
            .grid_bred_info{
                grid-area:grid_bred_info ;
                
    
                div{
                    
                    img{
                        float: left;
                        width: 300px;
                        height: 300px;
                        object-fit: cover;
                        padding: 0px 15px 5px 0px;
                    }
    
                    p{
                        color: $color-textgrey;
                        text-align: start;
                    }
                }
    
            }
    
            .grid_bred_mereinfo{
                grid-area:grid_bred_mereinfo ;
                background-color: orange;
            }
    
            .grid_bred_instrukser{
                grid-area:grid_bred_instrukser ;
                background-color: orchid;
            }
    
            .grid_bred_ingredienser{
                grid-area:ingredienser ;
                
    
    
                .ingrediens{
    
                    li{
                        padding: 15px 0px 0px 0px;
                        min-height: 50px;
                        font-size: 14px;
                        margin-bottom: 20px;
                        color: $color-textgrey;
                        background-color: white;
                        border: 1px solid $color-textgrey;
                    }
                }
    
                p{
                    font-size: 20px;
                    margin-bottom: 20px;
                    text-align: start;
                    font-weight: 800;
                 
                }
    
    
            }
    
        }
    
    
    }


}



@media only screen and (max-width: 768px) {


    .grid_produkter{
    min-height: 1200px;
    display: grid;
    margin: 0px 5% 0px 5%;
    background-color: $color-white;
    grid-gap: 15px;
    grid-template-columns: .22fr 1fr ;
    grid-template-rows: .2fr .2fr 2fr  ;
    grid-template-areas: 
    "produkter_head produkter_head"
    "kategorier kategorier"
    "produkter produkter";


    .produkter_head{
      grid-area: produkter_head;
      

      h2{
        font-size: 40px;
        margin-top: 70px;
        font-family: 'Lobster', cursive;
        color: $color-textdarkblue ;
        
    }
    p{
        width: 80%;
        margin: 20px auto 10px auto;
        color: $color-textgrey ;
        margin-bottom: 100px;
        
    }

    }

 .produkter{
  grid-area: produkter;
  

  .bred{
      
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)) ;
    grid-gap: 10px;

    .produkt_box{
        margin-bottom: 50px;

        img{
            width: 100%;
            height: 200px;
            object-fit: cover;
            
        }
    
        h2{
            margin-top: 20px;
         font-size: 19px;
         font-family: 'Open Sans', sans-serif;
         font-weight: 550;
         color: $color-darktext;
        }
        p{
            font-size: 14px;
            margin-top: 20px;
            margin-bottom: 10px;
            line-height: 2;
            color: $color-textgrey ;
        }

        .produkt_link{
          border: $color-textdarkblue 1px solid;
          border-radius: 2px;
          font-size: 10px;
          font-weight: 1200px;
          padding: 5px 40px 5px 40px;
          text-decoration: none;
          color: $color-darktext;
        }
    
    }

  }

 }

 .produkte_kategorier{
 grid-area: kategorier ;


 .kategorier_container{
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     flex-wrap: wrap;
     margin: 10px 0px 10px 0px;
     
     
     button{
         font-size: 20px;
         font-weight: 500;
         font-family:sans-serif ;
         padding: 0px 0px 0px 0px;
         background-color: rgba(255, 255, 255, 0);
         border: none;
         margin-bottom: 15px;
         color: $color-textgrey ;
         cursor: pointer;
     }

     button:focus {outline:0;}


 }

 }

}


.produkt_titel{

    min-height: 1200px;
    display: grid;
    margin: 0px 5% 0px 5%;
    background-color: $color-white;
    grid-gap: 15px;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px 150px 1fr  ;
    grid-template-areas: 
    "one one"
    "produktittel produktittel"
    "produkt_info produkt_info";

    .produkt_top_info{
        
        grid-area: one;
        margin-top: 70px;
        display: flex;
        font-size: 12px;
        background-color: white;
        padding: 10px;

        .light_text{
            color: rgb(172, 172, 172);
        }

    }


    .produkt_head{
        margin-top: 30px;
        grid-area:produktittel;
       
        height: 70px;
        display: grid;
        grid-template-columns:  1fr ;
        grid-template-rows: 1fr ;
        grid-template-areas: 
        "head_p "
        "button";


        .produkt_top_head{
            grid-area: head_p;
            color: $color-textdarkblue;
            text-align: start;
            text-transform: uppercase;
            font-size: 15px;

            p{
                color: $color-textgrey;
                font-weight: 900;
            }
            
        }

        .button_container{
            grid-area: button;
            

            button{
                border-radius: 2px;
                width: 100%;
                margin-top: 9px;
                padding: 10px;
                float: right;
                font-weight: 600;
                font-size: 15px;
                letter-spacing: 0.1em;
                border: $color-textdarkblue solid 1px;
                background-color: rgba(255, 0, 0, 0);
                font-family: 'Open Sans', sans-serif;
                cursor: pointer;
            }
            
        }


    }


    .produkt_info{
        grid-area: produkt_info;
        min-height: 1000px;
        display: grid;
        margin: 0px 0% 0px 0%;
        background-color: $color-white;
        grid-gap: 12px;
        grid-template-columns: 1fr 1fr  ;
        grid-template-rows: .2fr  1fr ;
        grid-template-areas: 
        " ingredienser ingredienser  "
        "grid_bred_info grid_bred_info  ";

        .grid_bred_info{
            grid-area:grid_bred_info ;
            

            div{
                
                img{
                    float: left;
                    width: 100%;
                    height: 300px;
                    object-fit: cover;
                    padding: 0px 0px 0px 0px;
                }

                p{
                    color: $color-textgrey;
                    text-align: start;
                }
            }

        }

        .grid_bred_mereinfo{
            grid-area:grid_bred_mereinfo ;
            background-color: orange;
        }

        .grid_bred_instrukser{
            grid-area:grid_bred_instrukser ;
            background-color: orchid;
        }

        .grid_bred_ingredienser{
            grid-area:ingredienser ;
            


            .ingrediens{

                li{
                    padding: 15px 0px 0px 0px;
                    min-height: 50px;
                    font-size: 14px;
                    margin-bottom: 20px;
                    color: $color-textgrey;
                    background-color: white;
                    border: 1px solid $color-textgrey;
                }
            }

            p{
                font-size: 20px;
                margin-bottom: 20px;
                text-align: start;
                font-weight: 800;
             
            }


        }

    }


}



}
